<form (ngSubmit)="onSave()" #personForm="ngForm">
  <div class="form-group">
    <label for="firstName">First Name:
      <input id="firstName"
             class="form-control"
             [(ngModel)]="internalItem.firstname"
             ngControl="firstName"
             required>
    </label>
    <label for="lastName">Last Name:
      <input id="lastName"
             class="form-control"
             [(ngModel)]="internalItem.lastname"
             ngControl="lastName"
             required>
    </label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!personForm.form.valid">Save</button>
</form>
