<form [ngFormModel]="demoForm" #formHandle="ngForm">

  <qa-input [labelText]="'Divisible by ten'" [isError]="!divNumber.valid">
    <input class="form-control"
           type="text"
           [ngFormControl]="divNumber"
           qaLengthValidator>
    <qa-input-errors>
      <qa-input-error class="help-block" *ngIf="divNumber.hasError('required')">
        It is required
      </qa-input-error>
      <qa-input-error class="help-block" *ngIf="divNumber.hasError('divisibleByTen')">
        It is not divisible by ten
      </qa-input-error>
      <qa-input-error class="help-block" *ngIf="divNumber.hasError('underSeven')">
        It should at least be seven long
      </qa-input-error>
    </qa-input-errors>
  </qa-input>

  <qa-input-style [labelText]="'Divisible by ten'" [isError]="!divNumberStyle.valid">
    <input class="form-control"
           type="text"
           [ngFormControl]="divNumberStyle"
           qaLengthValidator>
    <qa-input-errors>
      <span class="help-block" *ngIf="divNumberStyle.hasError('required')">
        It is required
      </span>
      <span class="help-block" *ngIf="divNumberStyle.hasError('divisibleByTen')">
        It is not divisible by ten
      </span>
      <span class="help-block" *ngIf="divNumberStyle.hasError('underSeven')">
        It should at least be seven long
      </span>
    </qa-input-errors>
  </qa-input-style>

  <qa-input-object
    [labelText]="'Divisible by ten'"
    [inputErrors]="divNumberObject.errors"
    [errorDefs]="{required: 'It is required.',
                  divisibleByTen: 'It should be divisible by ten',
                  underSeven: 'It should be seven long'}">
    <input class="form-control"
           type="text"
           [ngFormControl]="divNumberObject"
           qaLengthValidator>
  </qa-input-object>

  {{divNumberObject.errors | json}}
  <button class="btn btn-primary" [disabled]="!formHandle.form.valid">Submit</button>
</form>
