<form [ngFormModel]="demoForm" #formHandle="ngForm">

  <qa-input [labelText]="'Some number'" [isError]="!someNumber.valid">
    <input class="form-control"
           type="text"
           [ngFormControl]="someNumber">
    <qa-input-errors>
      <qa-input-error class="help-block" *ngIf="someNumber.hasError('required')">
        A number is required
      </qa-input-error>
      <qa-input-error class="help-block" *ngIf="someNumber.hasError('divisibleByTen')">
        The number should be divisible by 10
      </qa-input-error>
      <qa-input-error class="help-block" *ngIf="someNumber.hasError('minlength')">
        The number should be at least 7 digits
      </qa-input-error>
    </qa-input-errors>
  </qa-input>

  <qa-input-style [labelText]="'Some number'" [isError]="!someNumberStyle.valid">
    <input class="form-control"
           type="text"
           [ngFormControl]="someNumberStyle">
    <qa-input-errors>
      <span class="help-block" *ngIf="someNumberStyle.hasError('required')">
        A number is required
      </span>
      <span class="help-block" *ngIf="someNumberStyle.hasError('divisibleByTen')">
        The number should be divisible by 10
      </span>
      <span class="help-block" *ngIf="someNumberStyle.hasError('minlength')">
        The number should be at least 7 digits
      </span>
    </qa-input-errors>
  </qa-input-style>

  <qa-input-object
    [labelText]="'Some number'"
    [inputErrors]="someNumberObject.errors"
    [errorDefs]="{required: 'A number is required',
                  divisibleByTen: 'The number should be divisible by 10',
                  minlength: 'The number should be at least 7 digits'}">
    <input class="form-control"
           type="text"
           [ngFormControl]="someNumberObject">
  </qa-input-object>

  <button class="btn btn-primary" [disabled]="!formHandle.form.valid">Submit</button>
</form>
